{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <form method="POST" action="/" enctype="multipart/form-data">
    <input type="text" name="title", placeholder="Title">
    <input type="submit" value="Add Item">
  </form>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="Col">#</th>
            <th scope="Col">Title</th>
            <th scope="Col">Status</th>
            <th scope="Col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
            <tr>
              <td>{{ item.id }}</td>
              <td>{{ item.title }}</td>   
              <td>{{ item.status }}</td>
              <td>
                  {% if item.status=="Not Started" %}
                    <a href = {{ url_for('update_task', action="start_task", id=item.id)}}>Start Task</a>
                  {% endif %}
                  {% if item.status=="Started" %}
                    <a href = {{ url_for('update_task', action="finish_task", id=item.id)}}>Finish Task</a>
                  {% endif %}
                  {% if item.status=="Finished" %}
                    <a href = {{ url_for('update_task', action="reset_task", id=item.id)}}>Reset Task</a>
                  {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>        
    </div>
  </div>
{% endblock %}