{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
    <hr class="my-4">
  </div>

  <form class="needs-validation" novalidate method="POST" action="/" enctype="multipart/form-data">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title", name="title" aria-describedby="titleHelp" placeholder="Title">
      <div>
        {% if not title_feedback %}
          <small id="titleHelp" class="form-text text-muted">Enter Task Description</small>
        {% else %}
          <small id="titleHelp" class="errorText">{{ title_feedback }}</small>
        {% endif %}
      </div>  
      <input type="submit" value="Add Item">
    </div>
  </form>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="Col"><a href = {{ url_for('sort_tasks', column="id") }}>ID</a></th>
            <th scope="Col"><a href = {{ url_for('sort_tasks', column="title") }}>Title</a></th>
            <th scope="Col"><a href = {{ url_for('sort_tasks', column="status") }}>Status</a></th>
            <th scope="Col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
            <tr>
              <td>{{ item.id }}</td>
              <td>{{ item.title }}</td>   
              <td>{{ item.status }}</td>
              <td>
                  {% if item.status=="Not Started" %}
                    <a href = {{ url_for('update_task', action="start_task", id=item.id)}}>[Start Task]</a>
                  {% endif %}
                  {% if item.status=="Started" %}
                    <a href = {{ url_for('update_task', action="finish_task", id=item.id)}}>[Finish Task]</a>
                  {% endif %}
                  {% if item.status=="Finished" %}
                    <a href = {{ url_for('update_task', action="reset_task", id=item.id)}}>[Reset Task]</a>
                  {% endif %}
                  <a href = {{ url_for('delete_task', id=item.id)}}>[Delete Task]</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>        
    </div>
  </div>
{% endblock %}