{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <form method="POST" action="/" enctype="multipart/form-data">
    <input type="text" name="title", placeholder="Title">
    <input type="submit" value="Add Item">
  </form>



  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in items %}
            <li>
              {{ item.id }} {{ item.title }} {{ item.status }}
            </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}